.leaderboard-wrap {
    display: flex;
    justify-content: space-between;

}

.nitro-widget {
    margin-top: 15px;

}

.widget-header-title {
    display: none;
}

.hook-selector .top-mounted-select {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px
}

select {
    background-image: url("/content/dam/adu/Vector%2044.png");
}
