.leaderboard-wrap {
    display: flex;
    justify-content: space-between;


}

.grid-container {
    padding-left: 0;
    padding-right: 0;
}

.credit-leaderboard {
    width: 50%;
}

.credit-leaderboard {
    width: 50%;
}

.text-center {
    text-align: left;

}

.nitro-widget {
    margin-top: 15px;

}

.widget-header-title {
    display: none;
}

.cell {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

.hook-selector .top-mounted-select {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 0;
    border-bottom: none;
}

.hook-selector .top-mounted-select {
    border-bottom: 0;
}

.grid-row .grid-x {
    padding: 0;
}

.leaderboard-profile-section {
    background: #fff;
}

select {
    background-image: url("/content/dam/adu/Vector%2044.png");
}
.leaderboard{
    &::-webkit-scrollbar {

                    width: 4px;

                    background-color: $dark-blue;

                    border-radius: 5px;

                }

 

                &::-webkit-scrollbar-track {

                    width: 4px;

                    background-color: #D9D9D9;

                    border-radius: 5px;

                }

 

                &::-webkit-scrollbar-thumb {

 

                    width: 4px;

                    background-color: $dark-blue;

                    border-radius: 5px;

                }
}

@media screen and (max-width:767px) {
    select {
        padding: 0;
    }
}
